* {
  color: #73989A;
}

html {
  background: black;
}

.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* FOR NAV BAR */
/**************/
/**************/
/**************/

body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: orange; /* A background-color is required */
  min-height: 1vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

button.toggle-button {
  float: left;
}

h2 {
  color: red;
}

/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */

.homePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8%;
}

.homeButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center
}

.homeButtons {
margin: 0 10vw;
border-radius: 8px;
height: 40px;
width: 60px;
}

.homeImagesContainer {
  width: 100%;
}

.homeImage {
  width: 100%;
  margin: 5% 0 5% 0;
}
/* .fadedHomePicture{
  height: 40vh;
  width: auto;
  background: url('/spotCheckHome.png') 0 0 no-repeat, radial-gradient(ellipse at center, rgba(0,0,0,0) 20%,rgba(0,0,0,1) 100%);
  background-blend-mode: multiply;
} */

/* MENU */
/* MENU */
/* MENU */
/* MENU */
/* MENU */
/* MENU */

Menu {
  display: flex;
  flex-direction: row;
}

div.Menu {
  background: orange;
}

.topNav {
  border-bottom: 5px double black;
  margin-bottom: 15px;
  color: orange;
}

.hamburgerList {
  border-bottom: 1px solid rgba(0, 0, 0, 0.705);
  margin: 10px;
	background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* button.toggle-button {
  position: absolute;
  left: 0;
  margin: 8vw;
  height: 2em;
  width: auto;
} */


/* LOGIN */
/* LOGIN */
/* LOGIN */
/* LOGIN */
/* LOGIN */
/* LOGIN */

.loginContainer {
  display: flex;
  flex-direction: column;
  color:red;
}



/* BUTTON STYLE  */

.container {
  margin: auto;
  width: 170px;
  height: 50px;
  transition: all 0.3s ease; 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrap {
  height: 50px;
  width: 100px;
  border: 2px solid #FFF;
  transition: all 0.3s ease;
  border-radius: 5px;
  background: black;
  margin: 0 20px;
}

.first {
  font-size: 17px;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 2px; 
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

/*  HOMETABS COMPONENT  */
/*  HOMETABS COMPONENT  */
/*  HOMETABS COMPONENT  */
/*  HOMETABS COMPONENT  */
/*  HOMETABS COMPONENT  */
/*  HOMETABS COMPONENT  */

.HomeTabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background:red;
}

.tab {
  text-align: center;
  padding: 20px;
  text-decoration: none;
  
}



/* Login page */

.login-page-wrapper {
  display: flex;
  flex-direction: column;
  ;
  margin: 8%;
  font-family: 'Open Sans';
  text-align: left;
}

.login-header {
  /* padding: 15% 0 15% 0; */
  line-height: 65px;
  letter-spacing: 6px;
  color: white;
  font-size: 3em;
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
}

.login-form-section-wrapper {
  display: flex;
  flex-direction: column;
  padding: 8% 0 8% 0;
}

.login-form-section-wrapper input {
  border: 0;
  outline: 0;
  border-bottom: 4px solid grey;
  color: white;
  background: black;
  width: 85%;
  height: 80px;
  caret-color: red;
}

.form-label {
  font-size: 1em;
  color: grey;
  letter-spacing: 1.5px;
}

label.form-label {
  letter-spacing: 5px;
}

.password-input-style {
  padding-top: 5px;
  font-size: 1.2em;
  letter-spacing: 1.15em;
}

.form-label-password-bottom {
  color: grey;
  padding: 5% 0 13% 0;
  font-size: .9em;
  letter-spacing: 1.5px;
}

p.form-label-password-bottom {
  margin-top: 5px;
  letter-spacing: 4px;
}

.login-button {
  margin-top: 50px;
  padding: 30px;
  color: black;
  font-weight: bolder;
  font-size: 1em;
  border-radius: 22px;
  width: 95%;
  background-color: #73989A;
  /* button background color is set in 'button' style near top */
}

a.sign-up-now-text {
  color: #ffdc15;
  font-size: 30px;
  padding-top: 50px;
  padding-left: 20px;
  letter-spacing: 2px;
}

p.account-message {
  margin-top: 50px;
  letter-spacing: 2px;
  margin-left: 20px;
}


/* Sign up page */

.signup-page-wrapper {
  display: flex;
  flex-direction: column;
  ;
  margin: 8%;
  font-family: 'Open Sans';
  text-align: left;
}

.back-arrow-icon {
  padding: 10% 0 15% 0;
  height: 20px;
}

.back-arrow-icon img {
  height: 60px;
  width: auto;
}

.signup-header {
  /* padding: 15% 0 15% 0; */
  line-height: 65px;
  letter-spacing: 6px;
  color: white;
  font-size: 3em;
}

.signup-form-wrapper {
  display: flex;
  flex-direction: column;
}

.signup-form-section-wrapper {
  display: flex;
  flex-direction: column;
  padding: 5% 0 8% 0;
}

.signup-form-section-wrapper input {
  border: 0;
  outline: 0;
  border-bottom: 4px solid grey;
  color: white;
  background: black;
  width: 85%;
  height: 40px;
  caret-color: red;
}

.form-label {
  font-size: 30px;
  color: grey;
  letter-spacing: 1.5px;
}

.form-label-password-bottom {
  color: grey;
  padding: 5% 0 13% 0;
  font-size: .9em;
  letter-spacing: 1.5px;
}

.login-link {
  text-decoration: none;
}

.signup-button {
  padding: 30px;
  color: black;
  font-weight: bolder;
  font-size: 1em;
  border-radius: 22px;
  width: 95%;
  background-color: #73989A;
  /* button background color is set in 'button' style near top */
}

.remove {
  background: rgba(255, 220, 21, 0.7);
  color: rgba(0, 0, 0, 1);
}


/* Color-changing caret styler */

@keyframes rainbow {
  0% {
      caret-color: red;
  }
  20% {
      caret-color: orange;
  }
  40% {
      caret-color: yellow;
  }
  60% {
      caret-color: green;
  }
  80% {
      caret-color: blue;
  }
  100% {
      caret-color: purple;
  }
}

input {
  width: 100%;
  caret-color: red;
  display: block;
  font-size: 1.2em;
  letter-spacing: 8px;
}

input:focus {
  animation: 2s infinite rainbow;
}